In [2]:
import pandas as pd
import numpy as np

In [8]:
list_data = [ np.random.random() for _ in range(200) ]

In [9]:
series = pd.Series(list_data)

In [10]:
print(series)

0      0.440473
1      0.429881
2      0.606562
3      0.827127
4      0.757525
         ...
195    0.753985
196    0.486653
197    0.917771
198    0.218048
199    0.848279
Length: 200, dtype: float64

In [11]:
#iterating through series
#Element-wise
for element in series:
    print(element)

0.44047349081279685
0.4298809049245612
0.6065621839224595
0.8271273420315987
0.7575245439254958
0.4942548351580469
0.33110936272066194
0.9404403819532487
0.22896735935229928
0.6614332462423931
0.43639439127048596
0.10431617209513977
0.11645760888397827
0.6744321372672466
0.31943074138760985
0.8794158523792347
0.32165013819105714
0.04070546058750302
0.8998680911534881
0.8505956552599153
0.9244055292460206
0.11867104876918433
0.9842574280246629
0.020694208309551265
0.4693209492613767
0.5210481502288471
0.9833349591973988
0.7971472006217024
0.3719513484784145
0.5809507094311324
0.870189503955392
0.033481997090411
0.8238997867436267
0.5706607258845494
0.6467323585204009
0.8073781109679642
0.29647361647142445
0.19464011189209818
0.5342060221404581
0.5419788734694418
0.7722745296563378
0.8149327358974463
0.9866255278124332
0.0031916918809885564
0.9688912524017305
0.03404198052721141
0.5514331081715582
0.09789844817619031
0.7832062772487608
0.7944839454787742
0.5572786490671762
0.9013512401441043
0.8641454408946886
0.4155096134876767
0.6830975620262226
0.3578631967539121
0.06571536027110914
0.12805764329835767
0.27742437780332607
0.26355206338862525
0.5568128475665498
0.3035245221620416
0.2130366577684807
0.0014856833728420504
0.2927820548447242
0.5526538742490807
0.7132424550323898
0.41052392166895824
0.23631568907084333
0.6116017204380364
0.46060537170207183
0.8448073103953821
0.46083788558423155
0.28221216560353746
0.6566306242051662
0.10521051721600794
0.7097954067137894
0.4578254766211183
0.14025896785611536
0.2479071431469585
0.5838065224137741
0.5280817479133632
0.3206910854385825
0.10881530488234148
0.5791335102979132
0.7815566981324472
0.5055841987598315
0.4506336379537529
0.4213751174367636
0.2071011030283021
0.4287204173902528
0.14636959655059578
0.09699629638189566
0.3453057760342563
0.6894957962984081
0.5396247369725603
0.07659120153023269
0.32058185369310843
0.6515287473184606
0.42073345621196045
0.1962686076695851
0.365522573177558
0.8483393534133418
0.3732128245648477
0.8879253922362412
0.8038833941040417
0.37562457967315765
0.2590959005746327
0.12974418145490818
0.7897931145237076
0.9829861910678118
0.8601085509918635
0.6081397660915527
0.782135388024968
0.03097346181954641
0.8824432995731908
0.8079111191859768
0.554854812963542
0.22910578508025747
0.04992207199391674
0.8769725064999331
0.96018990907803
0.529932040189079
0.07050093490880505
0.4160558426864778
0.4926696311107266
0.8939712946987144
0.35755578774903296
0.9948009771848956
0.24374497367832992
0.28191424792719877
0.9371328729398373
0.1453817372783699
0.7340137185520101
0.7126773681017039
0.24529780373771393
0.3867727645247736
0.49218979945222796
0.9226569827513492
0.30336054654908906
0.8433758232731405
0.6959203129342634
0.4583645858080375
0.7612204223810558
0.21417685938841557
0.4678798789578522
0.8415399959451697
0.31158910453877775
0.44533960852780563
0.6227251239844233
0.5030619673248096
0.2940014840196278
0.2765047622713608
0.914801317004877
0.8499211091023915
0.7938991005022292
0.37862709453183474
0.02348094726415606
0.24730432576199846
0.4727593278085802
0.16498021804899987
0.9661105789989513
0.06576274379563962
0.1925769950147056
0.9225514307016451
0.34469296742620625
0.7306064857881468
0.3076908804705233
0.9341277421772832
0.6164298156898709
0.3479723272564049
0.11842936297333706
0.9215121354903995
0.15809314131003127
0.9786191024143124
0.28446037648924716
0.3172264272996832
0.7336633736150883
0.23895189992168142
0.6516915924958638
0.5836947743068548
0.5788680286067316
0.8211672160176412
0.8924191561334902
0.4143499713953771
0.5102446182081939
0.9428830683287418
0.8829511258918352
0.017072389045386882
0.45411857067776773
0.14921362121400028
0.36609923403442957
0.6748899020886987
0.039406783250012345
0.10272553622024783
0.7539853711846717
0.4866533090248093
0.9177714642078809
0.21804806117131437
0.8482788458254711

In [12]:
#Index-wise
for i in range(len(series)):
    print(series[i])

0.44047349081279685
0.4298809049245612
0.6065621839224595
0.8271273420315987
0.7575245439254958
0.4942548351580469
0.33110936272066194
0.9404403819532487
0.22896735935229928
0.6614332462423931
0.43639439127048596
0.10431617209513977
0.11645760888397827
0.6744321372672466
0.31943074138760985
0.8794158523792347
0.32165013819105714
0.04070546058750302
0.8998680911534881
0.8505956552599153
0.9244055292460206
0.11867104876918433
0.9842574280246629
0.020694208309551265
0.4693209492613767
0.5210481502288471
0.9833349591973988
0.7971472006217024
0.3719513484784145
0.5809507094311324
0.870189503955392
0.033481997090411
0.8238997867436267
0.5706607258845494
0.6467323585204009
0.8073781109679642
0.29647361647142445
0.19464011189209818
0.5342060221404581
0.5419788734694418
0.7722745296563378
0.8149327358974463
0.9866255278124332
0.0031916918809885564
0.9688912524017305
0.03404198052721141
0.5514331081715582
0.09789844817619031
0.7832062772487608
0.7944839454787742
0.5572786490671762
0.9013512401441043
0.8641454408946886
0.4155096134876767
0.6830975620262226
0.3578631967539121
0.06571536027110914
0.12805764329835767
0.27742437780332607
0.26355206338862525
0.5568128475665498
0.3035245221620416
0.2130366577684807
0.0014856833728420504
0.2927820548447242
0.5526538742490807
0.7132424550323898
0.41052392166895824
0.23631568907084333
0.6116017204380364
0.46060537170207183
0.8448073103953821
0.46083788558423155
0.28221216560353746
0.6566306242051662
0.10521051721600794
0.7097954067137894
0.4578254766211183
0.14025896785611536
0.2479071431469585
0.5838065224137741
0.5280817479133632
0.3206910854385825
0.10881530488234148
0.5791335102979132
0.7815566981324472
0.5055841987598315
0.4506336379537529
0.4213751174367636
0.2071011030283021
0.4287204173902528
0.14636959655059578
0.09699629638189566
0.3453057760342563
0.6894957962984081
0.5396247369725603
0.07659120153023269
0.32058185369310843
0.6515287473184606
0.42073345621196045
0.1962686076695851
0.365522573177558
0.8483393534133418
0.3732128245648477
0.8879253922362412
0.8038833941040417
0.37562457967315765
0.2590959005746327
0.12974418145490818
0.7897931145237076
0.9829861910678118
0.8601085509918635
0.6081397660915527
0.782135388024968
0.03097346181954641
0.8824432995731908
0.8079111191859768
0.554854812963542
0.22910578508025747
0.04992207199391674
0.8769725064999331
0.96018990907803
0.529932040189079
0.07050093490880505
0.4160558426864778
0.4926696311107266
0.8939712946987144
0.35755578774903296
0.9948009771848956
0.24374497367832992
0.28191424792719877
0.9371328729398373
0.1453817372783699
0.7340137185520101
0.7126773681017039
0.24529780373771393
0.3867727645247736
0.49218979945222796
0.9226569827513492
0.30336054654908906
0.8433758232731405
0.6959203129342634
0.4583645858080375
0.7612204223810558
0.21417685938841557
0.4678798789578522
0.8415399959451697
0.31158910453877775
0.44533960852780563
0.6227251239844233
0.5030619673248096
0.2940014840196278
0.2765047622713608
0.914801317004877
0.8499211091023915
0.7938991005022292
0.37862709453183474
0.02348094726415606
0.24730432576199846
0.4727593278085802
0.16498021804899987
0.9661105789989513
0.06576274379563962
0.1925769950147056
0.9225514307016451
0.34469296742620625
0.7306064857881468
0.3076908804705233
0.9341277421772832
0.6164298156898709
0.3479723272564049
0.11842936297333706
0.9215121354903995
0.15809314131003127
0.9786191024143124
0.28446037648924716
0.3172264272996832
0.7336633736150883
0.23895189992168142
0.6516915924958638
0.5836947743068548
0.5788680286067316
0.8211672160176412
0.8924191561334902
0.4143499713953771
0.5102446182081939
0.9428830683287418
0.8829511258918352
0.017072389045386882
0.45411857067776773
0.14921362121400028
0.36609923403442957
0.6748899020886987
0.039406783250012345
0.10272553622024783
0.7539853711846717
0.4866533090248093
0.9177714642078809
0.21804806117131437
0.8482788458254711

In [13]:
series[0]

0.44047349081279685

In [19]:
#minimum value
min_value = series.min()
print(min_value)

#index of minimum value
min_index = series.argmin()
print(min_index)

#maximum
max_value = series.max()
print(max_value)
max_index = series.argmax()
print(max_index)

0.0014856833728420504
63
0.9948009771848956
128

In [16]:
mean = series.mean()
print(mean)

0.5055875009289619

In [17]:
median = series.median()
print(median)

0.48942155423851863

In [18]:
#mode - the most frequent value
mode = series.mode()
print(mode)

0      0.001486
1      0.003192
2      0.017072
3      0.020694
4      0.023481
         ...
195    0.982986
196    0.983335
197    0.984257
198    0.986626
199    0.994801
Length: 200, dtype: float64

In [20]:
#pandas DataFrames
matrix = np.random.random((10,5))
df = pd.DataFrame(matrix)

In [24]:
df

          0         1         2         3         4
0  0.103473  0.959092  0.151518  0.639606  0.335750
1  0.467378  0.789517  0.380867  0.255488  0.008246
2  0.067168  0.514931  0.230189  0.775608  0.043747
3  0.022327  0.989304  0.848403  0.919116  0.089073
4  0.780856  0.704381  0.498287  0.085902  0.901718
5  0.809984  0.015703  0.561446  0.022071  0.809561
6  0.465974  0.332163  0.741145  0.600546  0.716095
7  0.897253  0.007866  0.567251  0.497187  0.014284
8  0.956293  0.889455  0.490352  0.005782  0.214824
9  0.342637  0.206657  0.642962  0.807646  0.233093

In [25]:
df = pd.DataFrame(matrix, columns = ['col1', 'col2', 'col3', 'col4', 'col5' ])

In [26]:
df

       col1      col2      col3      col4      col5
0  0.103473  0.959092  0.151518  0.639606  0.335750
1  0.467378  0.789517  0.380867  0.255488  0.008246
2  0.067168  0.514931  0.230189  0.775608  0.043747
3  0.022327  0.989304  0.848403  0.919116  0.089073
4  0.780856  0.704381  0.498287  0.085902  0.901718
5  0.809984  0.015703  0.561446  0.022071  0.809561
6  0.465974  0.332163  0.741145  0.600546  0.716095
7  0.897253  0.007866  0.567251  0.497187  0.014284
8  0.956293  0.889455  0.490352  0.005782  0.214824
9  0.342637  0.206657  0.642962  0.807646  0.233093

In [27]:
df['col2']

0    0.959092
1    0.789517
2    0.514931
3    0.989304
4    0.704381
5    0.015703
6    0.332163
7    0.007866
8    0.889455
9    0.206657
Name: col2, dtype: float64

In [29]:
df[['col1','col2']]

       col1      col2
0  0.103473  0.959092
1  0.467378  0.789517
2  0.067168  0.514931
3  0.022327  0.989304
4  0.780856  0.704381
5  0.809984  0.015703
6  0.465974  0.332163
7  0.897253  0.007866
8  0.956293  0.889455
9  0.342637  0.206657

In [32]:
df.iloc[5,0]

0.8099842406787613

In [33]:
df.iloc[:,1:]

       col2      col3      col4      col5
0  0.959092  0.151518  0.639606  0.335750
1  0.789517  0.380867  0.255488  0.008246
2  0.514931  0.230189  0.775608  0.043747
3  0.989304  0.848403  0.919116  0.089073
4  0.704381  0.498287  0.085902  0.901718
5  0.015703  0.561446  0.022071  0.809561
6  0.332163  0.741145  0.600546  0.716095
7  0.007866  0.567251  0.497187  0.014284
8  0.889455  0.490352  0.005782  0.214824
9  0.206657  0.642962  0.807646  0.233093

In [34]:
df.values

array([[0.1034728 , 0.95909243, 0.15151768, 0.63960618, 0.3357505 ],
       [0.46737823, 0.78951722, 0.38086701, 0.25548835, 0.008246  ],
       [0.06716804, 0.51493088, 0.23018914, 0.77560799, 0.04374741],
       [0.02232654, 0.98930355, 0.84840272, 0.91911609, 0.08907296],
       [0.78085645, 0.70438061, 0.49828733, 0.08590166, 0.9017177 ],
       [0.80998424, 0.01570259, 0.56144602, 0.02207148, 0.80956097],
       [0.46597448, 0.33216297, 0.74114473, 0.60054642, 0.71609516],
       [0.89725258, 0.00786585, 0.56725062, 0.49718692, 0.01428361],
       [0.95629272, 0.88945513, 0.49035196, 0.00578216, 0.21482407],
       [0.3426372 , 0.20665748, 0.64296193, 0.80764573, 0.23309327]])

In [48]:
df = pd.read_csv('Heart.csv')

In [49]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [50]:
del df['Unnamed: 0']

In [52]:
df.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [53]:
df.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD'],
      dtype='object')

In [54]:
df.mean()

c:\users\pulbe\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Age         54.438944
Sex          0.679868
RestBP     131.689769
Chol       246.693069
Fbs          0.148515
RestECG      0.990099
MaxHR      149.607261
ExAng        0.326733
Oldpeak      1.039604
Slope        1.600660
Ca           0.672241
dtype: float64

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        303 non-null    int64
 1   Sex        303 non-null    int64
 2   ChestPain  303 non-null    object
 3   RestBP     303 non-null    int64
 4   Chol       303 non-null    int64
 5   Fbs        303 non-null    int64
 6   RestECG    303 non-null    int64
 7   MaxHR      303 non-null    int64
 8   ExAng      303 non-null    int64
 9   Oldpeak    303 non-null    float64
 10  Slope      303 non-null    int64
 11  Ca         299 non-null    float64
 12  Thal       301 non-null    object
 13  AHD        303 non-null    object
dtypes: float64(2), int64(9), object(3)
memory usage: 33.3+ KB

In [56]:
df.describe()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [58]:
df.corr()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
Age,1.000000,-0.097542,0.284946,0.208950,0.118530,0.148868,-0.393806,0.091661,0.203805,0.161770,0.362605
Sex,-0.097542,1.000000,-0.064456,-0.199915,0.047862,0.021647,-0.048663,0.146201,0.102173,0.037533,0.093185
RestBP,0.284946,-0.064456,1.000000,0.130120,0.175340,0.146560,-0.045351,0.064762,0.189171,0.117382,0.098773
Chol,0.208950,-0.199915,0.130120,1.000000,0.009841,0.171043,-0.003432,0.061310,0.046564,-0.004062,0.119000
Fbs,0.118530,0.047862,0.175340,0.009841,1.000000,0.069564,-0.007854,0.025665,0.005747,0.059894,0.145478
RestECG,0.148868,0.021647,0.146560,0.171043,0.069564,1.000000,-0.083389,0.084867,0.114133,0.133946,0.128343
MaxHR,-0.393806,-0.048663,-0.045351,-0.003432,-0.007854,-0.083389,1.000000,-0.378103,-0.343085,-0.385601,-0.264246
ExAng,0.091661,0.146201,0.064762,0.061310,0.025665,0.084867,-0.378103,1.000000,0.288223,0.257748,0.145570
Oldpeak,0.203805,0.102173,0.189171,0.046564,0.005747,0.114133,-0.343085,0.288223,1.000000,0.577537,0.295832
Slope,0.161770,0.037533,0.117382,-0.004062,0.059894,0.133946,-0.385601,0.257748,0.577537,1.000000,0.110119
Ca,0.362605,0.093185,0.098773,0.119000,0.145478,0.128343,-0.264246,0.145570,0.295832,0.110119,1.000000

In [57]:
df.corr(method = 'pearson')

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
Age,1.000000,-0.097542,0.284946,0.208950,0.118530,0.148868,-0.393806,0.091661,0.203805,0.161770,0.362605
Sex,-0.097542,1.000000,-0.064456,-0.199915,0.047862,0.021647,-0.048663,0.146201,0.102173,0.037533,0.093185
RestBP,0.284946,-0.064456,1.000000,0.130120,0.175340,0.146560,-0.045351,0.064762,0.189171,0.117382,0.098773
Chol,0.208950,-0.199915,0.130120,1.000000,0.009841,0.171043,-0.003432,0.061310,0.046564,-0.004062,0.119000
Fbs,0.118530,0.047862,0.175340,0.009841,1.000000,0.069564,-0.007854,0.025665,0.005747,0.059894,0.145478
RestECG,0.148868,0.021647,0.146560,0.171043,0.069564,1.000000,-0.083389,0.084867,0.114133,0.133946,0.128343
MaxHR,-0.393806,-0.048663,-0.045351,-0.003432,-0.007854,-0.083389,1.000000,-0.378103,-0.343085,-0.385601,-0.264246
ExAng,0.091661,0.146201,0.064762,0.061310,0.025665,0.084867,-0.378103,1.000000,0.288223,0.257748,0.145570
Oldpeak,0.203805,0.102173,0.189171,0.046564,0.005747,0.114133,-0.343085,0.288223,1.000000,0.577537,0.295832
Slope,0.161770,0.037533,0.117382,-0.004062,0.059894,0.133946,-0.385601,0.257748,0.577537,1.000000,0.110119
Ca,0.362605,0.093185,0.098773,0.119000,0.145478,0.128343,-0.264246,0.145570,0.295832,0.110119,1.000000

In [60]:
df['Sex'].value_counts()

1    206
0     97
Name: Sex, dtype: int64

In [66]:
for key in dict(df['Sex'].value_counts()):
                print(f"{key} - {df[df['Sex'] == key]['Chol'].mean()}")

1 - 239.60194174757282
0 - 261.7525773195876

In [67]:
df.groupby(['Sex']).mean()

,Age,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
Sex,,,,,,,,,,
0,55.721649,133.340206,261.752577,0.123711,0.958763,151.226804,0.226804,0.867010,1.567010,0.546392
1,53.834951,130.912621,239.601942,0.160194,1.004854,148.844660,0.373786,1.120874,1.616505,0.732673

In [68]:
df.groupby(['Sex'])['Chol'].mean()

Sex
0    261.752577
1    239.601942
Name: Chol, dtype: float64

In [69]:
df['Sex'] = df['Sex'].map({0: 'female', 1 : 'male'})

In [70]:
df['Sex']

0        male
1        male
2        male
3        male
4      female
        ...
298      male
299      male
300      male
301    female
302      male
Name: Sex, Length: 303, dtype: object

In [71]:
df['Sex'] = df['Sex'].map({'female': 0, 'male': 1})

In [72]:
df['Sex']

0      1
1      1
2      1
3      1
4      0
      ..
298    1
299    1
300    1
301    0
302    1
Name: Sex, Length: 303, dtype: int64

In [73]:
age_col = df['Age'].values

In [75]:
df = df.drop(['Age'], axis = 1)

In [76]:
df.head()

,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [77]:
df['Age'] = age_col

In [78]:
df.head()

,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,Age
0,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No,63
1,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes,67
2,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes,67
3,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No,37
4,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No,41

In [79]:
#shuffle
df = df.sample(frac = 1)
# 1 - the entire dataset, 0.5 - half

In [80]:
df

,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,Age
52,1,asymptomatic,112,290,0,2,153,0,0.0,1,1.0,normal,Yes,44
292,1,asymptomatic,120,169,0,0,144,1,2.8,3,0.0,fixed,Yes,44
249,1,nontypical,128,208,1,2,140,0,0.0,1,0.0,normal,No,62
5,1,nontypical,120,236,0,0,178,0,0.8,1,0.0,normal,No,56
164,1,nonanginal,124,255,1,0,175,0,0.0,1,2.0,normal,No,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,1,asymptomatic,117,230,1,0,160,1,1.4,1,2.0,reversable,Yes,60
151,0,asymptomatic,102,265,0,2,122,0,0.6,2,0.0,normal,No,42
53,1,nontypical,130,219,0,2,188,0,0.0,1,0.0,normal,No,44
161,1,asymptomatic,125,304,0,2,162,1,0.0,1,3.0,normal,Yes,77
94,0,nonanginal,135,252,0,2,172,0,0.0,1,0.0,normal,No,63

In [82]:
df['Normal_cholesterol'] = df['Chol'].apply(lambda x: x > 125 and x < 200)

In [84]:
df['Normal_cholesterol']

52     False
292     True
249    False
5      False
164    False
       ...
31     False
151    False
53     False
161    False
94     False
Name: Normal_cholesterol, Length: 303, dtype: bool